{% extends 'base.html' %}
{% load static %}
}
{% block css %}
<link rel="stylesheet" href="{% static 'css/logo-nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
{% endblock %}


{% block body %}
{% include 'main/partials/navbar.html' %}

<header class="business-header" style="height: 89px">
    <div class="container">
        <h1 class="page-header text-center" style="color: #eee">About</h1>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <!-- First Featurette -->
    <div class="featurette" id="about" style="margin-bottom: 100px">
        <img width=500 class="featurette-image img-responsive pull-right" style="margin-left:80px" src="{% static 'img/about.jpeg' %}">
        <h2 class="featurette-heading">Who are we?
            <span class="text-muted">The Merchant Affiliate</span>
        </h2>
        <p class="lead" style="font-size: 1.3em">We pride ourselves on long term partnerships backed by strong business
        ethics and absolute accountability to our clients. We emphasize on providing you with the
        best solution tailored to the needs of the industry that you are in.</p>
        <p class="lead" style="font-size: 1.3em">As the payment landscape is ever constantly growing and evolving, we do
        things differently by working closely and openly with our clients to enable business
        continuity whilst safeguarding your revenue streams.</p>
        <p class="lead" style="font-size: 1.3em"> Our years of expertise in the payment processing industry is backed by an
        extensive local network in Malaysia, strong business acumen, innovative spirit and industry
        foresight. </p>
    </div>

    <hr />
</div>
{% include 'main/partials/footer.html' %}
{% endblock %}
