{% extends 'base.html' %}
{% load static %}
}
{% block css %}
<link rel="stylesheet" href="{% static 'css/logo-nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
{% endblock %}


{% block body %}
{% include 'main/partials/navbar.html' %}


<header class="business-header" style="height: 89px">
    <div class="container">
        <h1 class="page-header text-center" style="color: #eee">Contact Us</h1>
    </div>
</header>


<div class="container">
<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="row">
    <form id="inquiry" action="" method="POST">
        {% csrf_token %}
        <div class="control-group form-group">
            <div class="controls">
                <label>Full Name:</label>
                {{ form.name }}
                <p class="help-block"></p>
            </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Phone Number:</label>
                    {{ form.phone }}
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Email Address:</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="control-group form-group">
                <div class="contorls">
                    <label>Re-Enter Email Address:</label>
                    <input type="email" class="form-control" required="" id="emailCheck" placeholder="Re-Enter Email Address">
              </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Message:</label>
                    {{ form.message }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
        </div>
    </form>
</div>
<!-- /.row -->
</div>
<hr>

{% include 'main/partials/footer.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'js/utils.js' %}"></script>
{% endblock %}
