{% load static %}
<section id="footer" style="margin-bottom: 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-3 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <hr />
                <p>+603 2297 3718</p>
                <p>+601 6881 4100</p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <hr />
                <p><a href="mailto:your-email@your-domain.com">sales@themerchantaffiliate.com</a></p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-map-marker fa-3x sr-contact"></i>
                <hr />
                <p style="font-size: 0.8em">The Merchant Affiliate Sdn Bhd</p>
                <p style="font-size: 0.8em">A-2-9, Block A</p>
                <p style="font-size: 0.8em">Jalan PJU 1A/41B, Pusat Perdagangan NZX Ara Jaya</p>
                <p style="font-size: 0.8em">47301 Petaling Jaya, Selangor DE, Malaysia</p>
            </div>
        </div>
    </div>
</section>
