{% load static %}
<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="container" style="margin-top: 80px">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <h2 class="tagline">Increase your sales with easy and secure payment solutions</h2>
                            <button href="{% url 'signup' %}" class="button-big">Signup Now!</button>
                        </div>
                        <div>
                            <!-- Banner Image -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" class="banner-body pull-right"><img width=400 src="{% static 'img/banner.png' %}" alt="" /></a>
                    </div>
            </div>
        </div>
    </div>
</header>
